@use 'variables';

.contenedor-about{
    width: 98%;
    margin: auto;
    
    & .about{
        width: 65%;
        background-color: variables.$FondoCard;
        border-radius: 20px;
        border: 1px solid variables.$Blanco;
        margin: 2% 0;
        color: variables.$LetrasBlancas;
        padding: 25px;

        & .body-about {
            font-size: 1rem;
            font-weight: 700;
            text-align: justify;
            // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            // font-family: 'Courier New', Courier, monospace;
            // font-family: 'Times New Roman', Times, serif;
        }
    }
}