@use 'variables';

.contenedor-about {
    width: 98%;
    margin: auto;
    display: flex;

    & .about {
        width: 65%;
        background-color: variables.$FondoCard;
        border-radius: 20px;
        border: 1px solid variables.$Blanco;
        margin: 2% 0;
        color: variables.$LetrasBlancas;
        padding: 25px;

        & .body-about {
            font-size: 1rem;
            font-weight: 700;
            text-align: justify;

            & a {
                color: variables.$Blanco;
            }
        }
    }

    & .tecnoligias {
        width: 25%;
        background-color: variables.$FondoCard;
        border-radius: 20px;
        border: 1px solid variables.$Blanco;
        margin: 2% 10px;
        color: variables.$LetrasBlancas;
        padding: 25px;

        & ul {
            list-style-type:square;
            font-weight: 900;
        }
    }
}