@use 'variables';

.content-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: variables.$FondoNav;
    box-shadow: 0 0 12px white;
    border-radius: 10px;

    & .nav-menu ul {
        display: flex;
        list-style: none;
        padding-right: 10px;

        & li>a {
            color: variables.$LetrasBlancas;
            text-decoration: none;
            padding: 10px 10px;
            font-weight: bold;

            &:hover {
                background-color: variables.$Azul;
                border-radius: 5px;
            }
        }
    }
}

.logo > a {
    font-size: 2rem;
    color: variables.$LetrasBlancas;
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}